# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Environnement local
.env

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Système de génération de tests ou fichiers temporaires
coverage/
*.tmp
*.bak
